    $success: #86c232;

    @import "../../node_modules/bootstrap/scss/bootstrap";
    
    html {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
    }

    .carousel-caption{
      top: 45%
    }

    .align-items-center{
      overflow: auto;
    }